<div>
    <h2>Estimación de Proyecto de Software</h2>
    <div>
        <h3>CLIENTE</h3>
        <ul>
            <li>Nombre:</li>
            <li>Cédula:</li>
            <li>Teléfono:</li>
            <li>Dirección:</li>
        </ul>

        <div>
            <h3>PROYECTO</h3>
            <ul>
                <li>Requerimientos:</li>
                <li>Tiempo:</li>
                <div>
                    <h2>Roles</h2>
                    <ul>
                        <li>Rol:</li>
                        <li>Sueldo:</li>
                        <li>% Participación:</li>
                    </ul>
                </div>
                <li>Costos Adicionales:</li>
                <li>Costo Total:</li>
                <li>Valor de Utilidad:</li>
                <li>Precio Final:</li>
            </ul>
        </div>
    </div>
</div>
